<div class="mb-5" *ngIf="this.TransactionAddedData.length">
  <div class="relative overflow-x-auto">
    <table class="w-full my-5 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Date</th>
          <th scope="col" class="px-6 py-3">Transaction ID</th>
          <th scope="col" class="px-6 py-3">Total Amount</th>
          <th scope="col" class="px-6 py-3">Payment Type</th>
          <th scope="col" class="px-6 py-3" *ngIf="isHaveRoleAccessToEditPayment">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let data of TransactionAddedData;">

          <td class="px-6 py-4">
            {{data.date| date: 'dd/MM/yyyy'}}
          </td>

          <td class="px-6 py-4">
            {{data.transactionId}}
          </td>

          <td class="px-6 py-4">
            {{data.amount}}
          </td>

          <td class="px-6 py-4">
            {{data.paymentType}}
          </td>

          <td class="px-6 py-4" *ngIf="isHaveRoleAccessToEditPayment">
            <button (click)="updateModal(data)" class="me-2"><svg class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
              </svg>
            </button>
          </td>

        </tr>
      </tbody>

    </table>

  </div>
</div>


<form class="mx-auto" [formGroup]="FormGroupData">

  <div class="grid grid-cols-3 gap-3 my-2">
    <!-- transactionId section -->
    <div class="mb-5">
      <label for="transactionId" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
        Transaction ID
      </label>
      <input type="text" id="transactionId" formControlName="transactionId" placeholder="Transaction Id"
        class="block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [ngClass]="{
          'is-invalid-form':
            FormGroupData.controls['transactionId'].invalid &&
            (FormGroupData.controls['transactionId'].touched)
        }" />

      <!-- Error Span -->
      <app-form-error-span
        [templateOutletContext]="{  validation: 'required' , message: 'Transaction Id is required' , control: FormGroupData.controls['transactionId']}">
      </app-form-error-span>

      <app-form-error-span
        [templateOutletContext]="{  validation: 'minlength' , message: 'Transaction Id should have at least 4 characters' , control: FormGroupData.controls['transactionId']}">
      </app-form-error-span>
    </div>

    <!-- Amout  section -->
    <div class="mb-5">
      <label for="amount" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
        Amount
      </label>
      <input type="text" id="amount" formControlName="amount" placeholder="Amount"
        class="block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [ngClass]="{
          'is-invalid-form':
            FormGroupData.controls['amount'].invalid &&
            (FormGroupData.controls['amount'].touched)
        }" />

      <!-- Error Span -->
      <app-form-error-span
        [templateOutletContext]="{  validation: 'required' , message: 'Amount is required' , control: FormGroupData.controls['amount']}">
      </app-form-error-span>
    </div>

    <!-- Payment type  section -->
    <div class="mb-5">
      <label for="paymentType" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
        Payment type
      </label>
      <!-- Payment type section -->
      <select id="paymentType" formControlName="paymentType"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected value="">Choose a Payment type</option>

        <option value="CASH">Cash</option>
        <option value="BANK">Bank</option>
        <option value="CHECK">Check</option>

      </select>

      <!-- Error Span -->
      <app-form-error-span
        [templateOutletContext]="{  validation: 'required' , message: 'Payment type is required' , control: FormGroupData.controls['paymentType']}">
      </app-form-error-span>
    </div>

  </div>

  <div class="flex justify-end gap-3">
    <button type="submit" (click)="formSubmit('SUBMIT')"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Submit
    </button>

    <button type="button" (click)="formSubmit('APPROVE')" *ngIf="isApproveBtnShow"
      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
      Approve
    </button>
  </div>
</form>

<!-- Main modal -->
<div #TransactionModal tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full backdrop-blur-sm">
  <div class="relative p-4 w-full max-w-6xl max-h-full">

    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-2xl dark:bg-gray-700">

      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Update Transaction
        </h3>
        <button type="button" (click)="closeUpdateTransactionModal()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">

        <!-- Create Form Section -->
        <form class="mx-auto" [formGroup]="FormGroupDataUpdate">

          <div class="grid grid-cols-4 gap-3 my-2">

            <!-- Transaction Date section -->
            <div class="mb-5">
              <label for="date" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
                Transaction Date
              </label>
              <input type="date" id="date" formControlName="date"
                class="block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [ngClass]="{
                                'is-invalid-form':
                                  FormGroupDataUpdate.controls['date'].invalid &&
                                  (FormGroupDataUpdate.controls['date'].touched)
                              }" />

              <!-- Error Span -->
              <app-form-error-span
                [templateOutletContext]="{  validation: 'required' , message: 'Transaction Id is required' , control: FormGroupDataUpdate.controls['date']}">
              </app-form-error-span>
            </div>

            <!-- Transaction ID section -->
            <div class="mb-5">
              <label for="transactionId" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
                Transaction ID
              </label>
              <input type="text" id="transactionId" formControlName="transactionId" placeholder="Transaction ID"
                class="block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [ngClass]="{
                    'is-invalid-form':
                      FormGroupDataUpdate.controls['transactionId'].invalid &&
                      (FormGroupDataUpdate.controls['transactionId'].touched)
                  }" />

              <!-- Error Span -->
              <app-form-error-span
                [templateOutletContext]="{  validation: 'required' , message: 'Transaction Id is required' , control: FormGroupDataUpdate.controls['transactionId']}">
              </app-form-error-span>
            </div>

            <!-- Transaction Amount section -->
            <div class="mb-5">
              <label for="amount" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
                Amount
              </label>
              <input type="number" id="amount" formControlName="amount" placeholder="Mobile"
                class="block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [ngClass]="{
                    'is-invalid-form':
                      FormGroupDataUpdate.controls['amount'].invalid &&
                      (FormGroupDataUpdate.controls['amount'].touched)
                  }" />

              <!-- Error Span -->
              <app-form-error-span
                [templateOutletContext]="{  validation: 'required' , message: 'Transaction Amount is required' , control: FormGroupDataUpdate.controls['amount']}">
              </app-form-error-span>
            </div>

            <!-- Payment type  section -->
            <div class="mb-5">
              <label for="paymentType" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
                Payment type
              </label>
              <!-- Payment type section -->
              <select id="paymentType" formControlName="paymentType"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected value="">Choose a Payment type</option>

                <option value="CASH">Cash</option>
                <option value="BANK">Bank</option>
                <option value="CHECK">Check</option>

              </select>

              <!-- Error Span -->
              <app-form-error-span
                [templateOutletContext]="{  validation: 'required' , message: 'Payment type is required' , control: FormGroupDataUpdate.controls['paymentType']}">
              </app-form-error-span>
            </div>

          </div>

        </form>

      </div>

      <!-- Modal footer -->
      <div class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">

        <button type="submit" (click)="updateTransaction()"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>

        <button (click)="closeUpdateTransactionModal()" type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
      </div>

    </div>
  </div>
</div>