<form>

  <form [formGroup]="FormGroupData">
    <div class="grid grid-cols-3 gap-3 my-2">

      <!-- in charge name section -->
      <div class="mb-5">
        <label for="inCharge" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
          Incharge
        </label>
        <input type="text" id="inCharge" formControlName="inCharge" placeholder="name"
          class="block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [ngClass]="{
          'is-invalid-form':
            FormGroupData.controls['inCharge'].invalid &&
            (FormGroupData.controls['inCharge'].touched)
          }" />

        <!-- Error Span -->
        <app-form-error-span
          [templateOutletContext]="{  validation: 'required' , message: 'Name is required' , control: FormGroupData.controls['inCharge']}">
        </app-form-error-span>
      </div>
    </div>
  </form>


  <div class="grid grid-cols-3 gap-4 my-2">

    @for (data of productionStatus; track data.status) {
    <div class="mb-3 flex items-center text-gray-500 dark:text-gray-400 space-x-2.5 rtl:space-x-reverse"
      [ngClass]="{'is_Start_Progress': data.isStarted && data.completed < 100, 'is_Completed_Progress': data.isStarted && data.completed === 100}">
      <span
        class="flex items-center justify-center w-8 h-8 border rounded-full shrink-0 border-gray-500 dark:border-gray-400">
        {{ data.status }}
      </span>

      <span class="w-full">
        <h2 class="font-medium text-lg leading-tight">{{ data.statusName }}</h2>
        <p class="text-base mt-1">Completed: {{ data.completed }} %</p>

        <input [id]="data.statusName" [disabled]="!data.isStarted || data.completed === 100" [name]="data.statusName"
          type="range" [(ngModel)]="data.completed" (change)="onChangeTheRange($event,data.status)"
          class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
      </span>
    </div>
    }
  </div>

  <!-- Project Details Section -->
  <p class="my-4 text-2xl text-black-500 font-bold dark:text-white">Furniture Details</p>

  <div class="grid grid-cols-3 gap-4 my-2">

    <div class="mb-2" *ngFor="let data of furnitureData;let i = index">

      <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
        <input [disabled]="data.isDelivered" [(ngModel)]="data.isInstalled" id="bordered-checkbox-{{i}}" type="checkbox"
          name="bordered-checkbox-{{i}}"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="bordered-checkbox-{{i}}"
          class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{data.text}}</label>
      </div>
    </div>

    <div class="mb-2">

      <div class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
        <input id="bordered-checkbox-1" type="checkbox" value="" name="bordered-checkbox"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="bordered-checkbox-1"
          class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default radio</label>
      </div>

    </div>

  </div>

  <div class="flex justify-end gap-3">
    <button type="submit" (click)="formSubmit('SUBMIT')"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Submit
    </button>

    <button type="button" (click)="formSubmit('APPROVE')" *ngIf="isApproveBtnShow"
      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
      Approve
    </button>
  </div>

</form>