<form class="mx-auto" [formGroup]="FormGroupData">

  <div class="grid grid-cols-3 gap-3 my-2">
    <!-- transaction Date section -->
    <div class="mb-5">
      <label for="priority" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
        Priority
      </label>
      <!-- Prioritys section -->
      <select id="priority" formControlName="priority"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected value="">Choose a priority</option>

        <option value="HIGH">High</option>
        <option value="MEDIUM">Medium</option>
        <option value="LOW">Low</option>

      </select>

      <!-- Error Span -->
      <app-form-error-span
        [templateOutletContext]="{  validation: 'required' , message: 'Priority is required' , control: FormGroupData.controls['priority']}">
      </app-form-error-span>
    </div>

    <!--  Estimate Date Of Arrival section -->
    <div class="mb-5">
      <label for="estimateDateOfArrival" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
        Estimate Date Of Arrival
      </label>
      <div class="relative max-w-sm">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
          </svg>
        </div>
        <input type="date" id="estimateDateOfArrival" formControlName="estimateDateOfArrival"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Select date" [ngClass]="{
            'is-invalid-form':
              FormGroupData.controls['estimateDateOfArrival'].invalid &&
              (FormGroupData.controls['estimateDateOfArrival'].touched)
          }">
      </div>

      <!-- Error Span -->
      <app-form-error-span
        [templateOutletContext]="{  validation: 'required' , message: ' Estimate Date Of Arrival is required' , control: FormGroupData.controls['estimateDateOfArrival']}">
      </app-form-error-span>
    </div>


    <!-- Arrival section -->
    <div class="mb-5">
      <label for="isArrived" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
        Arrived
      </label>

      <label class="inline-flex items-center cursor-pointer mt-2">
        <input id="isArrived" type="checkbox" formControlName="isArrived" class="sr-only peer">
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
        </div>
      </label>

    </div>

  </div>

  <div class="flex justify-end gap-3">
    <button type="submit" (click)="formSubmit('SUBMIT')"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Submit
    </button>

    <button type="button" (click)="formSubmit('APPROVE')"
      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
      Approve
    </button>
  </div>
</form>