<div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4 p-4" *ngIf="FileArray.length">
  <div *ngFor="let image of FileArray"
    [ngStyle]="{'background-image': isTheUrlIsPdf(image.url) ? 'url(assets/images/icons/pdf.png)' : 'url('+image.url+')'}"
    class="file_view_modal relative group border rounded-lg overflow-hidden shadow-md">
    <!-- <img  [alt]="image.date" class="w-full h-auto" /> -->
    <div
      class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
      <button (click)="openImage(image.url)"
        class="px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700">Open</button>
      <!-- <button (click)="deleteImage(image._id)"
        class="px-4 py-2 text-white bg-red-600 rounded hover:bg-red-700">Delete</button> -->
    </div>
  </div>
</div>

<!-- Main modal -->
<div #FileModal tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-7xl max-h-full">

    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">

        <button type="button" (click)="closeModal()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">

        <div class="fixed inset-0 flex items-center justify-center z-50">
          <div class="fixed inset-0 bg-gray-800 bg-opacity-75"></div>
          <div class="bg-white rounded-lg shadow-lg overflow-hidden w-full max-w-4xl z-10">
            <div class="flex justify-end p-2">
              <button (click)="closeModal()" class="text-gray-500 hover:text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="p-4">
              <ng-container *ngIf="isFilePDF; else imageTemplate">
                <iframe [src]="fileUrl" class="w-full h-96" frameborder="0"></iframe>
                <pdf-viewer [src]="fileUrl" [render-text]="true" [original-size]="false"
                  style="width: 100%;height: 96%;"></pdf-viewer>
              </ng-container>
              <ng-template #imageTemplate>
                <img [src]=" fileUrl" alt="file" class="w-full h-auto" />
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-start items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button (click)="closeModal()" type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
      </div>

    </div>
  </div>
</div>