<div class="relative overflow-x-auto p-3 mt-4 shadow-md sm:rounded-lg ">
  <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">

    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"></path>
        </svg>
      </div>
      <input type="text" id="table-search" [(ngModel)]="searchTerm"
        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search for items" />
    </div>
  </div>

  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <!-- Table header -->
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <!-- Header row -->
      <tr>
        <th scope="col" class="px-6 py-3">Date</th>
        <th scope="col" class="px-6 py-3">Project ID</th>
        <th scope="col" class="px-6 py-3">Client Name</th>
        <th scope="col" class="px-6 py-3">Order Status</th>
        <th scope="col" class="px-6 py-3"></th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>

      <!-- Table data -->
      @for (product of getCurrentPageProducts(); track product._id) {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ product.createdAt | date:'longDate' }}
        </td>

        <th scope="row" class="px-6 py-4">
          {{ product.orderNumber }}
        </th>

        <th class="px-6 py-4">
          {{ product.client.name }}
        </th>

        <td class="px-6 py-4">
          @if (product.orderStatus === 1) {
          <span
            class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">ORDER
            ENTERING</span>
          } @else if (product.orderStatus===2) {
          <span
            class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">DRAWING</span>
          } @else if (product.orderStatus===3) {
          <span
            class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">MATERIAL
            ESTIMATE</span>
          } @else if (product.orderStatus===4) {
          <span
            class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">WAITING
            CONFIRMATION</span>
          } @else if (product.orderStatus===5) {
          <span
            class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300">MATERIAL
            ARRIVAL</span>
          } @else if (product.orderStatus===6) {
          <span
            class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">PRODUCTION</span>
          } @else if (product.orderStatus===7) {
          <span
            class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300">DELIVERY</span>
          } @else if (product.orderStatus===8) {
          <span
            class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">INSTALLATION</span>
          } @else if (product.orderStatus===9) {
          <span
            class="bg-slate-100 text-slate-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-slate-900 dark:text-indigo-300">AWAITING
            SERVICE</span>
          } @else if (product.orderStatus===10) {
          <span
            class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">SERVICE</span>
          } @else if (product.orderStatus===11) {
          <span
            class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">TO
            CLOSE</span>
          }@else if (product.orderStatus===12) {
          <span
            class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">CLOSED</span>
          } @else if (product.orderStatus===13) {
          <span
            class="bg-red-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">CANCELLED</span>
          }
        </td>

        <td class="px-6 py-4">

          <ng-template #elseMainAdmin>
            <button [disabled]="!product.isAccessToOpen" [ngClass]="{'disable_status_btn': !product.isAccessToOpen}"
              (click)="toggleModal({ orderStatus: product.orderStatus, orderId: product._id, isApproveBtnShow:true })"
              class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="button">
              Manage
            </button>
          </ng-template>

          <button *ngIf="isMainAdmin else elseMainAdmin"
            (click)="toggleMasterModal({ orderStatus: product.orderStatus, orderId: product._id })"
            class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="button">
            Manage Status
          </button>

        </td>

        <td class="px-6 py-4">
          <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            [routerLink]="['/project', product._id]">View</a>
        </td>
      </tr>
      }

    </tbody>

  </table>
</div>


<!-- Main modal -->
<div #statusChangeModal tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-7xl max-h-full">

    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Approve to Next Step
        </h3>
        <button type="button" (click)="closeModal()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <!-- (FYI-Salman)-forms for each flow approval -->
        @if (modalSelectedOrderStatus===1) {
        <app-form-1 [isApproveBtnShow]="modalSelectedOrderApproveBtn" [isRefreshDataInput]="isRefreshData"></app-form-1>
        } @else if(modalSelectedOrderStatus===2) {
        <app-form-2 [isApproveBtnShow]="modalSelectedOrderApproveBtn" [isRefreshDataInput]="isRefreshData"></app-form-2>
        } @else if(modalSelectedOrderStatus===3) {
        <app-form-3 [isApproveBtnShow]="modalSelectedOrderApproveBtn" [isRefreshDataInput]="isRefreshData"></app-form-3>
        } @else if(modalSelectedOrderStatus===4) {
        <app-form-4 [isApproveBtnShow]="modalSelectedOrderApproveBtn" [isRefreshDataInput]="isRefreshData"></app-form-4>
        } @else if(modalSelectedOrderStatus===5) {
        <app-form-5 [isApproveBtnShow]="modalSelectedOrderApproveBtn" [isRefreshDataInput]="isRefreshData"></app-form-5>
        } @else if(modalSelectedOrderStatus===6) {
        <app-form-6 [isApproveBtnShow]="modalSelectedOrderApproveBtn" [isRefreshDataInput]="isRefreshData"></app-form-6>
        } @else if(modalSelectedOrderStatus===7) {
        <app-form-7 [isApproveBtnShow]="modalSelectedOrderApproveBtn" [isRefreshDataInput]="isRefreshData"></app-form-7>
        } @else if(modalSelectedOrderStatus===8) {
        <app-form-8 [isApproveBtnShow]="modalSelectedOrderApproveBtn" [isRefreshDataInput]="isRefreshData"></app-form-8>
        } @else if(modalSelectedOrderStatus===9) {
        <app-form-9 [isApproveBtnShow]="modalSelectedOrderApproveBtn"></app-form-9>
        } @else if(modalSelectedOrderStatus===10) {
        <app-form-10 [isApproveBtnShow]="modalSelectedOrderApproveBtn"
          [isRefreshDataInput]="isRefreshData"></app-form-10>
        } @else if(modalSelectedOrderStatus===11) {
        <app-form-11 [isApproveBtnShow]="modalSelectedOrderApproveBtn"
          [isRefreshDataInput]="isRefreshData"></app-form-11>
        } @else if(modalSelectedOrderStatus===12) {
        <app-form-12></app-form-12>
        } @else if(modalSelectedOrderStatus===13) {
        <app-form-13 [isApproveBtnShow]="modalSelectedOrderApproveBtn"></app-form-13>
        }
      </div>

      <!-- Modal footer -->
      <div class="flex justify-start items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button (click)="closeModal()" type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Main modal -->
<div #masterStatusApproveModal tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-7xl max-h-full">

    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Approve Status Steps
        </h3>
        <button type="button" (click)="closeModal()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <div class="grid grid-cols-4 gap-4 my-2">

          <div class="mb-2" *ngFor="let data of masterModalStatus">

            <button type="button"
              (click)="toggleModal({ orderStatus: data.status, orderId: data.id ,isApproveBtnShow:data.isApproveBtnShow})"
              class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
              @if (data.status === 1) {
              ORDER ENTERING
              } @else if (data.status===2) {
              DRAWING
              } @else if (data.status===3) {
              MATERIAL ESTIMATE
              } @else if (data.status===4) {
              WAITING CONFIRMATION
              } @else if (data.status===5) {
              MATERIAL ARRIVAL
              } @else if (data.status===6) {
              PRODUCTION
              } @else if (data.status===7) {
              DELIVERY
              } @else if (data.status===8) {
              INSTALLATION
              } @else if (data.status===9) {
              AWAITING SERVICE
              } @else if (data.status===10) {
              SERVICE
              } @else if (data.status===11) {
              TO CLOSE
              }@else if (data.status===12) {
              CLOSED
              } @else if (data.status===13) {
              CANCELLED
              }
            </button>
          </div>


        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-start items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button (click)="closeModal()" type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
      </div>

    </div>
  </div>
</div>