<form class="mx-auto" [formGroup]="FormGroupData">

  <div class="grid grid-cols-3 gap-3 my-2">
    <!-- transactionId section -->
    <div class="mb-5">
      <label for="transactionId" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
        Transaction ID
      </label>
      <input type="text" id="transactionId" formControlName="transactionId" placeholder="Transaction Id"
        class="block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [ngClass]="{
          'is-invalid-form':
            FormGroupData.controls['transactionId'].invalid &&
            (FormGroupData.controls['transactionId'].touched)
        }" />

      <!-- Error Span -->
      <app-form-error-span
        [templateOutletContext]="{  validation: 'required' , message: 'Transaction Id is required' , control: FormGroupData.controls['transactionId']}">
      </app-form-error-span>

      <app-form-error-span
        [templateOutletContext]="{  validation: 'minlength' , message: 'Transaction Id should have at least 4 characters' , control: FormGroupData.controls['transactionId']}">
      </app-form-error-span>
    </div>

    <!-- Amout  section -->
    <div class="mb-5">
      <label for="amount" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
        Amount
      </label>
      <input type="text" id="amount" formControlName="amount" placeholder="Amount"
        class="block w-full p-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        [ngClass]="{
          'is-invalid-form':
            FormGroupData.controls['amount'].invalid &&
            (FormGroupData.controls['amount'].touched)
        }" />

      <!-- Error Span -->
      <app-form-error-span
        [templateOutletContext]="{  validation: 'required' , message: 'Amount is required' , control: FormGroupData.controls['amount']}">
      </app-form-error-span>
    </div>

    <!-- Payment type  section -->
    <div class="mb-5">
      <label for="paymentType" class="block mb-2 text-medium font-medium text-gray-900 dark:text-white">
        Payment type
      </label>
      <!-- Payment type section -->
      <select id="paymentType" formControlName="paymentType"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected value="">Choose a Payment type</option>

        <option value="CASH">Cash</option>
        <option value="BANK">Bank</option>
        <option value="CHECK">Check</option>

      </select>

      <!-- Error Span -->
      <app-form-error-span
        [templateOutletContext]="{  validation: 'required' , message: 'Payment type is required' , control: FormGroupData.controls['paymentType']}">
      </app-form-error-span>
    </div>

  </div>

  <div class="flex justify-end gap-3">
    <button type="submit" (click)="formSubmit('SUBMIT')"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Submit
    </button>

    <button type="button" (click)="formSubmit('APPROVE')"
      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
      Approve
    </button>
  </div>
</form>